/* Register Screen */
.register-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register-page-container .Login-header {
  width: 100%;
  height: 90px;
  padding-top: 0.5rem;
  text-align: center;
  font-family: 'Saira', cursive;
  background-color: white;
  font-weight: 700;
}
.register-page-container .Login-header a {
  text-decoration: none;
  color: #003893;
  font-size: 2rem;
}
.register-page-container .Register-text {
  padding-top: 3rem;
  font-family: 'Saira', cursive;
  color: #003893;
  font-weight: 700;
}
.register-page-container .form {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-page-container .form input {
  padding: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1rem;
}
.register-page-container .form .user {
  display: block;
  margin-bottom: 1rem;
}
.register-page-container .form .password {
  margin-bottom: 1rem;
}
.register-page-container .form .email {
  margin-bottom: 1rem;
}
.register-page-container .form button {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Open Sans';
  color: white;
  background-color: #003893;
}
